<!DOCTYPE html>
<html lang="sv-se" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Search Form</title>
	<link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/forms.css" th:href="@{/css/forms.css}">
	

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="../templates/home.html" th:href="@{/}" class="colorHome">Home</a>
		<a href="../templates/bookSearch.html" th:href="@{/book/searchForm}" class="colorSearch" >Find book</a>
		<a href="../templates/bookCreate.html" th:href="@{/book/createForm}" class="colorCreate" >Create book</a>
		<a href="#help" class="colorHelp" >Help</a>
		<a href="javascript:void(0);" class="icon" >
			<i id="myBurger" class="fa fa-bars"></i>
		</a>
	</div>


      <div th:substituteby="home::logout"></div>
        <h1>This is a secured page!</h1>
        <p><a href="/home" th:href="@{/home}">Back to index page</a></p>



	<div id="searchDiv">
		<form id="searchBookByIdForm" action="http://localhost:8080/book/findbyid/">

			<div id=searchIdFields class="form-group">
				<label for="id">Book Id</label>
				<input type="text" name="id" class="form-control" /> 
				<div class="searchFieldsSubmit">
					<input type="submit" value="Submit" class="btn btn-default" />
				</div>
			</div>
		</form>

		<div id=searchITAFields class="form-group">
			<form id="searchBooksByITAForm" action="http://localhost:8080/book/findlike/">
				<label for="isbn">ISBN</label>
				<input type="text" name="isbn" class="form-control" />
				<label for="title">Title</label>
				<input type="text" name="title" class="form-control" />
				<label for="author">Author</label>
				<input type="text" name="author" class="form-control" />
				<div class="searchFieldsSubmit">
		
					<input type="submit" value="Submit" class="btn btn-default" />
				</div>
			</form>
		</div>
	</div>
	<div id="rrdivbooks" class="container" ></div>
	<table id="bookResultsTable" class="table table-hover"></table>
  	<div id="res"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../static/jq.js" th:src="@{/jq.js}"></script>
  	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>