<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	<title>Create and Search Form</title>
	<link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
	<link rel="stylesheet" type="text/css" href="../static/css/forms.css" th:href="@{/css/forms.css}">
<script>
function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  )
}

function setUuid() {
	document.getElementById("uuid").value=uuidv4();
}

</script>


</head>
<body>
	<div id="createSearchForm">
		<form id="createBookForm" method="post"
			th:action="@{/createSearchForm}" th:object="${book}">

			<table id="bookTable">
				<tr>
					<td><label for="id">Book Id</label></td>
					<td><input class="disabled" type="text" th:field="*{id}" 
						disabled="disabled" /> <br /></td>
				</tr>
				<tr>
					<td><label for="isbn">ISBN</label></td>
					<td><input class="searchField" type="text" th:field="*{isbn}" /> <br /></td>
				</tr>
				<tr>
					<td><label for="title">Title</label></td>
					<td><input class="searchField" type="text" th:field="*{title}" /> <br /></td>
				</tr>
				<tr>
					<td><label for="author">Author</label></td>
					<td><input class="searchField" type="text" th:field="*{author}" /> <br /></td>
				</tr>
				<tr>
					<td><label for="gengre">Genre</label></td>
					<td><input type="text" th:field="*{genre}" /> <br /></td>
				</tr>
				<tr>
					<td><label for="location">Location</label></td>
					<td><input type="text" th:field="*{location}" /> <br /></td>
				</tr>
				<tr>
					<td><label for="loanperiod">Loan period</label></td>
					<td><input type="text" th:field="*{loanPeriod}" /> <br /></td>
				</tr>
				<tr id="bookTableLast">
					<td></td><td><input type="submit" id="create" value="Create"/></td>
				<tr>
			</table>
		</form>
	</div>
	<div id="result"></div>
</body>

</html>