<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Update Form</title>
	<link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/forms.css" th:href="@{/css/forms.css}">

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="#home" class="colorHome">Home</a>
		<a href="../templates/bookSearch.html" th:href="@{/searchForm}" class="colorSearch" >Search book</a>
		<a href="../templates/bookCreate.html" th:href="@{/createForm}" class="colorCreate" >Create book</a>
		<a href="#help" class="colorHelp" >Help</a>
		<a href="javascript:void(0);" class="icon" >
			<i id="myBurger" class="fa fa-bars"></i>
		</a>
	</div>

	<div id="updateDiv">
		<form id="updateBookForm" th:method="patch" th:action="@{/updateForm}"
			th:object="${book}">
			<div id=updateFields class="form-group">
				<label for="id">Book Id</label>
				<input class="disabled form-control" type="text"
					th:field="*{id}" readonly="readonly" />
				<label for="isbn">ISBN</label>
				<input type="text" th:field="*{isbn}" class="form-control" />
				<label for="title">Title</label>
				<input type="text" th:field="*{title}" class="form-control" />
				<label for="author">Author</label>
				<input type="text" th:field="*{author}" class="form-control" />
				<label for="genre">Genre</label>
				<input type="text" th:field="*{genre}" class="form-control" />
				<label for="location">Location</label>
				<input type="text" th:field="*{location}" class="form-control"/>
				<label for="loanPeriod">Loan period</label>
				<input type="text" th:field="*{loanPeriod}" class="form-control"/>
			</div>

			<div id="updateFieldsSubmit">
				<input type="submit" id="update" value="Update" class="btn btn-default" />
			</div>

		</form>

	</div>
  	<div id="res"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../static/jq.js" th:src="@{/jq.js}"></script>
</body>

</html>