<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Library Home</title>
	<link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/forms.css" th:href="@{/css/forms.css}">

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="../templates/home.html" th:href="@{/home}" class="colorHome">Home</a>
		<a href="../templates/bookSearch.html" th:href="@{/searchForm}" class="colorSearch" >Search book</a>
		<a href="../templates/bookCreate.html" th:href="@{/createForm}" class="colorCreate" >Create book</a>
		<a href="#help" class="colorHelp" >Help</a>
		<a href="javascript:void(0);" class="icon" >
			<i id="myBurger" class="fa fa-bars"></i>
		</a>
	</div>

	<div id="homeDiv" >
		<div id="homeBook" >
			<a href="../templates/bookSearch.html" th:href="@{/searchForm}" class="colorSearch" >Book</a> 
		</div>
		<div id="homeMember">
			<a href="../templates/bookCreate.html" th:href="@{/createForm}" class="colorCreate" >Member (TODO)</a> 
		</div>
	</div>
	<div th:text="${res}"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../static/jq.js" th:src="@{/jq.js}"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>