<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Member Search Form</title>
	<link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/forms.css" th:href="@{/css/forms.css}">
	

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="../templates/home.html" th:href="@{/}" class="colorHome">Home</a>
		<a href="../templates/memberSearch.html" th:href="@{/member/searchForm}" class="colorSearch" >Search member</a>
		<a href="../templates/memberCreate.html" th:href="@{/member/createForm}" class="colorCreate" >Create member</a>
		<a href="#help" class="colorHelp" >Help</a>
		<a href="javascript:void(0);" class="icon" >
			<i id="myBurger" class="fa fa-bars"></i>
		</a>
	</div>

	<div id="searchDiv">
		<form id="searchMemberByIdForm" >
			<div class="form-group">
					<label for="id">Member id</label>
					<input type="text" id="id" name="id" class="form-control" /> 
					<div class="searchFieldsSubmit">
						<input type="submit" value="Submit" class="btn btn-default" />						
					</div>
			</div>
		</form>
		<form id="searchMemberByNameForm" >
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" />
					<div class="searchFieldsSubmit">					
						<input type="submit" value="Submit" class="btn btn-default" />						
					</div>
		</form>

	</div>
	<table id="memberResultsTable" class="table table-hover"></table>
  	<div id="res"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../static/jq.js" th:src="@{/jq.js}"></script>
  	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>